@model Film

<h2>Update @Model.Title</h2>

<div>
    <img src="@Model.Image" width="200" />
</div>
<div>
    <form method="post" enctype="multipart/form-data" asp-controller="Film" asp-action="UploadButtonClick">
        <input asp-for="ID" type="hidden" />
        <input asp-for="Image" class="form-control" name="files" type="file" />
        <p>Upload Photo</p>
        <input class="btn btn-success" type="submit" value="Upload" />
    </form>
</div>

@using (Html.BeginForm("UpdateFilmToDatabase", "Film", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    
    <label asp-for="@Model.Title" class="control-label">Title</label>
    <input asp-for="@Model.Title" class="form-control" />

    <label asp-for="@Model.Director" class="control-label">Director</label>
    <input asp-for="@Model.Director" class="form-control" />

    <label asp-for="@Model.Writer" class="control-label">Writer</label>
    <input asp-for="@Model.Writer" class="form-control" />

    <label asp-for="@Model.Composer" class="control-label">Composer</label>
    <input asp-for="@Model.Composer" class="form-control" />

    <label asp-for="@Model.RTS" class="control-label">RTS</label>
    <input asp-for="@Model.RTS" class="form-control" />

    <label asp-for="@Model.Runtime" class="control-label">Runtime</label>
    <input asp-for="@Model.Runtime" class="form-control" />

    <label asp-for="@Model.Pee_Time" class="control-label">Pee_Time</label>
    <input asp-for="@Model.Pee_Time" class="form-control" />

    <label asp-for="Checked" class="control-label">Checked</label>
    <div>
        <label><input type="radio" asp-for="Checked" value="true" /> True</label>
        <label><input type="radio" asp-for="Checked" value="false" /> False</label>
    </div>

   
   
    
    <br> </br>
    <br> </br>


    <form action="http://localhost:5202/Film" method="get">
        <input type="submit" value="Update Film" class="btn btn-primary" />
    </form>
}